# Backend
# Neon PostgreSQL - Obtenez votre URL sur https://neon.tech
# DATABASE_URL="postgresql://user:password@ep-xxx-xxx.region.aws.neon.tech/talklight?sslmode=require"
DATABASE_URL='postgresql://neondb_owner:npg_ko8mYUsbw0IT@ep-raspy-sunset-akg2xjdp-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# Redis (optionnel - laisser vide pour désactiver)
REDIS_URL=""
CLOUDINARY_URL=cloudinary://926273478162528:yr0-BHeWIkCg6KQi1N7rZOZVBQk@duhcoqin7
USE_REDIS=false

# JWT
JWT_SECRET="change-me-to-a-secure-random-string"
REFRESH_SECRET="change-me-to-another-secure-random-string"

# Cloudinary - Obtenez vos identifiants sur https://cloudinary.com
CLOUDINARY_CLOUD_NAME=duhcoqin7
CLOUDINARY_API_KEY=926273478162528
CLOUDINARY_API_SECRET=yr0-BHeWIkCg6KQi1N7rZOZVBQk

# CORS
CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"
PORT=3000

# Frontend (vite .env)
VITE_API_URL="http://localhost:3000/api"
VITE_WS_URL="ws://localhost:3000"
VITE_SOCKET_PATH="/socket.io"
